{% extends 'base.html' %}

{% block content %}

<body>
    <form action="/search/m" method="GET">
        {% include 'search_setup.html' %}
    </form>

    {% if books %}
        <ul>
            {% for book in books %}
                <li><a href="/manager/modify/{{ book.0 }}">{{ book.1 }}</a></li>
                <form id="{{ book.0 }}">{% csrf_token %}
                    <li><input type="submit" onclick="send_request({{ book.0 }})" value="add book"></li>
                    <li><input type="submit" onclick="remove_request({{ book.0 }})" value="remove book"></li>
                </form>
            {% endfor %}
        </ul>
    {% else %}
        <p>Cannot find results</p>
    {% endif %}

    <script>

        function send_request(isbn) {
            $(document).on('submit','#'+isbn,function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/cart/add_book',
                    data:{
                        ISBN: isbn,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function (result) {
                        console.log(result);
                        alert('ok');
                    }
                });
            });
        }

        function remove_request(isbn) {
            $(document).on('submit','#'+isbn,function (e) {
                e.preventDefault();
                $.ajax({
                    type: 'POST',
                    url: '/cart/remove_book',
                    data:{
                        ISBN: isbn,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function (result) {
                        console.log(result);
                        alert('ok');
                    }
                });
            });
        }
    </script>


{% endblock %}