{% extends 'base.html' %}

{% block content %}

<body>
    <form action="/search" method="GET">
        {% include 'search_setup.html' %}
    </form>

    {% if books %}
        <ul>
            {% for book in books %}
                <li>
                    <div>Title: {{ book.1 }}, Price:{{ book.4}}
                        <form method="post" id="add_to_cart">
                            {% csrf_token %}
                            <input type="submit" value="To Cart"/>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Cannot find results</p>
    {% endif %}

    <script>
        $(document).on('submit','add_to_cart',function(e){
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/cart/add_book',
                data:{
                    //book_ispn: ISBN
                },
                success:function () {

                }
            });
        });
    </script>

{% endblock %}