{% extends 'base.html' %}
{% block content %}

    <form method="POST" action="update" id="form">
        {% csrf_token %}
        {% for cart in carts  %}
            title: {{ cart.6 }}<br>
            price: {{ cart.3 }}<br>
            count:
            <input type="text" name="{{ cart.1 }}" value="{{ cart.2 }}"><br>
            <button class="action" id="action{{ cart.1 }}" value="{{ cart.1 }}" >remove</button>
            <br>
        {% endfor %}
            <input type="submit" value="checkout">
    </form>

    <script>



        $('.action').click(function (e) {
            e.preventDefault();

            var isbn = $(this).val();
            var id = "action"+isbn;

            if($(this)[0].innerHTML == "remove"){
                success = false;
                $.ajax({
                    type: 'POST',
                    url: '/cart/remove_book',
                    data:{
                        ISBN: $(this).val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function (result) {
                            console.log('remove');
                            document.getElementById(id).innerHTML = 'add';
                    }
                });

            }else{
                $.ajax({
                    type: 'POST',
                    url: '/cart/add_book',
                    data:{
                        ISBN: $(this).val(),
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function (result) {
                            console.log('add');
                            document.getElementById(id).innerHTML = 'remove';
                    }
                });
            }

        });
        /*
        function send_request(isbn) {
               $('#action'+isbn).click(function (e) {
                 e.preventDefault();
                 $.ajax({
                    type: 'POST',
                    url: '/cart/add_book',
                    data:{
                        ISBN: isbn,
                        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function (result) {
                        console.log(result);
                        document.getElementById('action'+isbn).onclick = function() {remove_request(isbn)};
                        document.getElementById('action'+isbn).innerHTML = 'remove_book';
                    }
                 });
               });
        }
        function remove_request(isbn) {
                $('#action'+isbn).click(function (e){
                    e.preventDefault();
                    $.ajax({
                        type: 'POST',
                        url: '/cart/remove_book',
                        data:{
                            ISBN: isbn,
                            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success:function (result) {
                            console.log(result);
                            document.getElementById('action'+isbn).onclick = function() {send_request(isbn)};
                            document.getElementById('action'+isbn).innerHTML = 'add_book';
                        }
                    });
                });

        }
        */

    </script>

{% endblock %}