<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    {% if error %}
        {{ error }}
    {% endif %}

    {% if msg_err %}
        {{ msg_err }}
    {% endif %}

    <form method="POST" action=".">
        {% csrf_token %}
        Email:<br>
        <input type="text" name="email"><br>
        password:<br>
        <input type="password" name="password"><br>
        <input type="submit" value="login">
    </form>
    <a href="/signup/">signup</a>

</body>
</html>