<form method="GET">

    <div class="form-group">
        <div class="row justify-content-center">
            <div class="pr-lg-1 col-4">
                <input name="search_field" class="form-control" placeholder="Search for something..." type="text"/>
            </div>
            <input type="submit" value="Search" name="search" class="btn btn-primary"/>
        </div>
    </div>

    <div class="form-group mt-lg-2">
        <div class="row justify-content-center">
            <label><span class="badge badge-secondary">Filters:</span></label>
            <div class="ml-1 mr-3">
                <label for="ISBN"> ISBN </label>
                <input type="radio" name="group" value="ISBN" id="ISBN" checked/>
            </div>

            <div class="ml-1 mr-3">
                <label for="title"> Title </label>
                <input type="radio" name="group" value="title" id="title">
            </div>

            <div class="ml-1 mr-3">
                <label for="author"> Author </label>
                <input type="radio" name="group" value="author" id="author">
            </div>

            <div class="ml-1 mr-3">
                <label for="publisher"> Publisher </label>
                <input type="radio" name="group" value="publisher" id="publisher">
            </div>


            <select class="btn-secondary dropdown-toggle" id="category" onchange="this.form.submit()" name="selector">
                <option value="0" disabled selected>Select a Category</option>
                <option value="1">Science</option>
                <option value="2">Art</option>
                <option value="3">Religion</option>
                <option value="4">History</option>
                <option value="5">Geography</option>
            </select>
        </div>
    </div>

</form>

<script>
    document.getElementById("category").value = {{ selected_index }};
</script>
